<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>昵称</string>
		</dict>
		<dict>
			<key>title</key>
			<string>性别</string>
		</dict>
		<dict>
			<key>title</key>
			<string>生日</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>职业</string>
		</dict>
		<dict>
			<key>title</key>
			<string>公司</string>
		</dict>
		<dict>
			<key>title</key>
			<string>学校</string>
		</dict>
		<dict>
			<key>title</key>
			<string>所在地</string>
		</dict>
		<dict>
			<key>title</key>
			<string>故乡</string>
		</dict>
		<dict>
			<key>title</key>
			<string>邮箱</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>个人说明</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>兴趣爱好展示</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>兴趣爱好展示</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>兴趣爱好展示</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>兴趣爱好展示</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>兴趣爱好展示</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>兴趣爱好展示</string>
		</dict>
	</array>
</array>
</plist>
